body{
	padding: 0px;
	margin: 0px;
	background-color: #000;
	color: #fff;
	font-size: 20px;
	border: 2px solid #FFE600;
	text-align: center;
}

header{
	background-color: #00FFAB;
	padding: 15px;
	font-family: cursive;
	background-image: url("img.png");
}

a,b,c,{
	background-color: #000;
}

